.quadrato {
    width: 160px;
    height: 150px;
}

.quadrato2 {
    width:160px;
    height: 160px;
}

.altezza2 { 
    height: 30px;
}

.altezza3 {
    height: 50px;
}

.altezza4 {
    height: 240px;
}

.altezza5 {
    height: 100px;
}

.altezza6 {
    height: 540px;
}

.altezza7 {
    height: 150px;
}

.cols {
    width: 1000px;
}

.colss {
    width: 328px;
    height: 316px;
}



